<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hackathon\MQMonitor\Api\MessageInterface" type="Hackathon\MQMonitor\Model\Message" />

    <type name="Magento\Framework\MessageQueue\MergerFactory">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="hackatonTest" xsi:type="string">Hackathon\MQMonitor\Model\Merger</item>
            </argument>
        </arguments>
    </type>

</config>